@charset "utf-8";

body {
	max-width: 800px;
	margin: auto;
	padding-bottom: 100px;
	display:flex;
	flex-direction: column;
	font-family: 'Cormorant Garamond', serif;
}

body p{
	font-family: 'EB Garamond', serif;
	
}

h1, h2, h3 {
		color: #24707A;
}

#cvcontent {
	padding-top: 140px;
	width:100%;
}

li, dt, dd {
	list-style-type: none;
	margin: none;
	padding: 0px;
	font-family: 'EB Garamond', serif;
}

dt{
	font-weight: bold;
}

/* header */

header {
	position: fixed;
	left: 0;
    top: 0;
	width: 100%;
	padding: 16px;
}

#navigation {
	position: fixed;
	left: 0;
    top: 90px;
	width: 100%;
}

#syl_info {
	width: 100%;
	display:flex;
	padding: 16px 0px;
	background-color: #38ADBB;
}

.headiv {
	width:33.3%;

}

#address p{
	text-align: center;
	margin: 0px auto;
	padding:0px;
}

#links {
	text-align: right;
	padding-right: 16px;
}

a {
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

a:visited {
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	text-decoration: none;
	color: dimgrey;
}

a:hover {
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

a:active {
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.headiv h1 {
    padding: 0px 0px 0px 16px;
	margin: 0px;
	font-size: 32px;
	color:black;
}

/* navigation */

.tab {
  overflow: hidden;
  border: none;
  background-color: #38ADBB;
  border-collapse: collapse;
}

.tab button {
  background-color: inherit;
	width: 25%;
  float: left;
  border: none;
border-collapse: collapse;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  margin:none;
  transition: 0.3s;
	font-weight: bold;
	font-family: 'EB Garamond', serif;
	font-size: 20px;
}

.tab button:hover {
  background-color: #70C9D4;
}

.tab button.active {
  background-color: #24707A;
  
}

.tabcontent {
  display: none;
	width: 100%;
  padding: 6px 12px;
  border: none;
  border-top: none;
}

/* content */

section {
	margin: auto;
	display: flex;
}

#profile p {
	max-width:70%;
	padding: 8px 0px;
	margin:auto;
}

#profile h3 {
	max-width:70%;
	padding: 8px 0px;
	margin:auto;
}

#skills {
	width: 90%;
	display:flex;
	flex-direction: row;
	margin: auto;
}

.skilldiv {
	float: left;
	width: 50%;
}

#education {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#UOC {
	width:100%;
	
}

.UOC {
	max-width: 49%;
	align-items: stretch;
	margin: none;
	float:left;
}

#previousstudies {
	width:100%;
	float: left;
}

img {
	max-width:40%;
}

.collapsible {
  background-color: #38ADBB;
  color: white;
  cursor: pointer;
  padding: 22px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.collapsible:hover {
  background-color: #70C9D4;
}

.active {
background-color: #24707A;
}

.collcontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/*footer*/

footer {
	position: fixed;
    left: 0;
    bottom: 0;
	width: 100%;
	background-color: #38ADBB;
	color: white;
	padding: 16px;
	margin: auto;
}
